.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 0 60px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  $gradient: '';
  @each $colorName, $color in $rainbow-colors {
    $gradient: #{$gradient}, #{$color};
    &.#{$colorName} {
      border-image: unset;
      border-bottom: 2px solid $color;
    }
  }

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn $gradient);
  border-image-slice: 1;


}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
