.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 0 60px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34,100), rgba(255,0,128,100), rgba(56,2,155,100));
  border-image-slice: 1;

  @each $colorName, $color in $colors{
    &.#{$colorName} {
      border-image: unset;
      border-bottom: 2px solid $color;
    }
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
